<header class="header">
	<nav class="header__nav">
		<div class="header__logo">
			<a class="header__logo-link" href="./">
				<img class="header__logo-img" src="assets/images/caesar.svg" alt="Caesar Icon"/>
			</a>
			<h1 class="header__title">Метод шифрования Цезаря</h1>
		</div>
		<ul class="header__menu">
			<li class="header__menu-item"><a href="#Intro" class="header__menu-link">Введение</a></li>
			<li class="header__menu-item"><a href="#Essence" class="header__menu-link">Суть метода</a></li>
			<li class="header__menu-item"><a href="#Hacking" class="header__menu-link">Взлом</a></li>
			<li class="header__menu-item"><a href="#Ciphertexts" class="header__menu-link">Шифртексты</a></li>
		</ul>
		<div class="burger-menu header__menu-burger">
			<span class="burger-menu__part"></span>
			<span class="burger-menu__part"></span>
			<span class="burger-menu__part"></span>
		</div>
	</nav>
</header>
