<section class="main__section" id="Ciphertexts">
	<h2 class="main__section-header">Шифртексты</h2>
	<p>
		Дамы и господа, вашему вниманию предлагаются шифртексты, тщательно отобранные у неосторожных гонцов.
		Доподлинно известно, что все они зашифрованы с использованием метода Цезаря, а ваша задача –
		расшифровать их, применяя тот или иной способ взлома. GL HF!
	</p>
	<details class="spoiler">
		<summary class="spoiler__summary">
			<span class="spoiler__title">Шифртекст #1</span>
		</summary>
		<p>Йчйдбуи – ёыч риуфимцчт учцъыщьуыскцдт ёфнхнцы, учычщдт, цнриксъсхч чы чъчйнццчъынт учцъыщьуясс с
			съшчфцнцсз, шщнмцирцианц мфз йнрчшиъцчт кщнрус учцыщчфецч-срхнщсынфецдю ьъыщчтъык к
			ыщьйчшщчкчмд. Йчйдбус мфз миыасучк ынхшнщиыьщд ьъыицикфскижыъз ци цьпцчх чйгнуын ъ шчхчвеж
			шщсхнцнцсз ъкищус.

			Цибс йчйдбус мфз миыасучк ынхшнщиыьщд шщнмъыикфзжы ъчйчт цнйчфебчт ьаиъычу ычфъычъынццчт ыщьйд ъ
			кцьыщнццсх щнрейчкдх ъчнмсцнцснх ъ чмцчт ъычщчцд, ъ мщьлчт ъычщчцд йчйдбуи шщскищскиныъз у
			ыщьйчшщчкчмь, аыч шчркчфзны цимнпцч ьъыицикфскиые цнчйючмсхдн шщсйчщд с фнлуч рихнцзые сю
			цчкдхс.

			Ынщхчхныщ к учхшфнуын ъ йчйдбучт с лсферчт щийчыины уиу ъфипнццдт нмсцдт хнюицсрх, учычщдт
			шчркчфзны мчйсыеъз хифчлч кщнхнцс щнилсщчкицсз ци ъыьшнцаиычн срхнцнцсн ынхшнщиыьщд.

			Мфсци, щнрейи с учцъыщьуыск йчйдбус чшщнмнфзжыъз шчыщнйцчъызхс хчцыипи с щнрейчт хчцысщьнхчлч
			шщсйчщи.</p>
	</details>
	<details class="spoiler">
		<summary class="spoiler__summary">
			<span class="spoiler__title">Шифртекст #2</span>
		</summary>
		<p>Н ьо бупу, щощ ьо рэшьу,
			<br>О ьо рэшьу, щощ ьо бупу.
			<br>Ьэ н вабоъ, эщэьёуь пэш –
			<br>Пуяв юэябрушь, чтв тэыэш.
			<br>Эщэьёуь пэш, цоёод эсэьк
			<br>Ч ьу эабоъэак ьчёусэ.
			<br>О ый хчруы, о ьоы а бэпэм
			<br>Юэруцъэ ьоцъэ.
		</p>
	</details>
	<details class="spoiler">
		<summary class="spoiler__summary">
			<span class="spoiler__title">Шифртекст #3</span>
		</summary>
		<p>Язщцйбрт Язт ярхру яылмщхгм язщг, ярщъру ямшхцщурй,яръзу язщъыатр. Язизхз ямщъйцйзу яъмю. Яро,
			ярирщ, ямянътз язйтзур, яршртзур, ярэзур, яылзямщъйцйзур. Яыомпмфмю яръзу ямъймшцщърарж, ярщъру
			ямшмщяыш яншхгс ямшлзт.</p>
	</details>
	<details class="spoiler">
		<summary class="spoiler__summary">
			<span class="spoiler__title">Шифртекст #4</span>
		</summary>
		<p>Ъжк щу ъачкф б йкшкф ъэалпбе<br>
			Пкжщу ъйю гшг л дцьэв<br>
			Пкжщ кэздж ъ ежижа киэйглпбв<br>
			Пкжщу дэкж щэа ьжяьэв<br>
			Пкжщ ьилафч аъжёбдб пшсэ<br>
			Лаёшъшч пкж ьш гшг<br>
			Пкжщ ёэышьшёёжэ йпшйкфэ<br>
			Зижйкж кшг</p>
	</details>
	<details class="spoiler">
		<summary class="spoiler__summary">
			<span class="spoiler__title">Шифртекст #5</span>
		</summary>
		<p>Пв яфро дуз, дужо усвукгр йв дпковпкж, к ёв стжгхёжф двъв кпцртовшкб д фвлпж!</p>
	</details>
</section>
