<section class="caesar-info-section" id="partIV">
	<h2 class="caesar-info-section__header">Шифртексты</h2>
	<p>Дамы и господа, вашему вниманию предлагаются шифртексты, тщательно отобранные у неосторожных гонцов.
		Доподлинно известно, что все они зашифрованы с использованием метода Цезаря, а ваша задача –
		расшифровать их, применяя тот или иной способ взлома. Ниже в комментариях вы можете оставить ваши
		расшифровки, предложить свои шифртексты и написать
		впечатления от подработки криптоаналитиком (пока увидеть их сможете только вы, но я обязательно
		починю это, обещаю). GL HF!
	</p>
	<details class="spoiler">
		<summary class="spoiler__name"><span>Шифртекст #1</span>
		</summary>
		<p>Йчйдбуи – ёыч риуфимцчт учцъыщьуыскцдт ёфнхнцы, учычщдт, цнриксъсхч чы чъчйнццчъынт учцъыщьуясс с
			съшчфцнцсз, шщнмцирцианц мфз йнрчшиъцчт кщнрус учцыщчфецч-срхнщсынфецдю ьъыщчтъык к
			ыщьйчшщчкчмд. Йчйдбус мфз миыасучк ынхшнщиыьщд ьъыицикфскижыъз ци цьпцчх чйгнуын ъ шчхчвеж
			шщсхнцнцсз ъкищус.

			Цибс йчйдбус мфз миыасучк ынхшнщиыьщд шщнмъыикфзжы ъчйчт цнйчфебчт ьаиъычу ычфъычъынццчт ыщьйд ъ
			кцьыщнццсх щнрейчкдх ъчнмсцнцснх ъ чмцчт ъычщчцд, ъ мщьлчт ъычщчцд йчйдбуи шщскищскиныъз у
			ыщьйчшщчкчмь, аыч шчркчфзны цимнпцч ьъыицикфскиые цнчйючмсхдн шщсйчщд с фнлуч рихнцзые сю
			цчкдхс.

			Ынщхчхныщ к учхшфнуын ъ йчйдбучт с лсферчт щийчыины уиу ъфипнццдт нмсцдт хнюицсрх, учычщдт
			шчркчфзны мчйсыеъз хифчлч кщнхнцс щнилсщчкицсз ци ъыьшнцаиычн срхнцнцсн ынхшнщиыьщд.

			Мфсци, щнрейи с учцъыщьуыск йчйдбус чшщнмнфзжыъз шчыщнйцчъызхс хчцыипи с щнрейчт хчцысщьнхчлч
			шщсйчщи.</p>
	</details>
	<details class="spoiler">
		<summary class="spoiler__name"><span>Шифртекст #2</span>
		</summary>
		<p>Н ьо бупу, щощ ьо рэшьу,
			<br>О ьо рэшьу, щощ ьо бупу.
			<br>Ьэ н вабоъ, эщэьёуь пэш –
			<br>Пуяв юэябрушь, чтв тэыэш.
			<br>Эщэьёуь пэш, цоёод эсэьк
			<br>Ч ьу эабоъэак ьчёусэ.
			<br>О ый хчруы, о ьоы а бэпэм
			<br>Юэруцъэ ьоцъэ.
		</p>
	</details>
	<details class="spoiler">
		<summary class="spoiler__name"><span>Шифртекст #3</span>
		</summary>
		<p>Язщцйбрт Язт ярхру яылмщхгм язщг, ярщъру ямшхцщурй,яръзу язщъыатр. Язизхз ямщъйцйзу яъмю. Яро,
			ярирщ, ямянътз язйтзур, яршртзур, ярэзур, яылзямщъйцйзур. Яыомпмфмю яръзу ямъймшцщърарж, ярщъру
			ямшмщяыш яншхгс ямшлзт.</p>
	</details>
	<details class="spoiler">
		<summary class="spoiler__name"><span>Шифртекст #4</span>
		</summary>
		<p>Ъжк щу ъачкф б йкшкф ъэалпбе<br>
			Пкжщу ъйю гшг л дцьэв<br>
			Пкжщ кэздж ъ ежижа киэйглпбв<br>
			Пкжщу дэкж щэа ьжяьэв<br>
			Пкжщ ьилафч аъжёбдб пшсэ<br>
			Лаёшъшч пкж ьш гшг<br>
			Пкжщ ёэышьшёёжэ йпшйкфэ<br>
			Зижйкж кшг</p>
	</details>
	<details class="spoiler">
		<summary class="spoiler__name"><span>Шифртекст #5</span>
		</summary>
		<p>Пв яфро дуз, дужо усвукгр йв дпковпкж, к ёв стжгхёжо двъв кпцртовшкб д фвлпж!</p>
	</details>
	<div class="commentary">
		<h2 class="caesar-info-section__header">Комментарии</h2>
		<div class="commentary__none">Нет комментариев :(</div>
		<div class="commentary__list">
		</div>
		<div class="commentary-form">
			<h2 class="caesar-info-section__header">Добавить комментарий</h2>
			<div class="commentary-form__input">
				<span class="commentary-form-field-text">Ваше имя:*</span>
				<input class="commentary-name" name="name" placeholder="Полиграф Полиграфович">
			</div>
			<div class="commentary-form__input">
				<span class="commentary-form-field-text">Комментарий:*</span>
				<textarea class="commentary-text" name="name"
				          placeholder="Выражаю своё почтение автору!"></textarea>
			</div>
			<button class="textarea-buttons__item commentary-form__button-add">Отправить</button>
		</div>
	</div>
</section>
