<section class="main__section" id="Hacking">
	<h2 class="main__section-header">Взлом</h2>
	<p>
		<i>
			Вы, счастливые обладатели секретной информации, захотели поделиться ею со своим другом. Вы составляете	текст,
			и чтобы никто кроме вас двоих не смог его прочитать (наивные), вы шифруете его с помощью секретного ключа и
			отдаёте записку гонцу, который немедленно помчался доставлять её адресату.
		</i>
	</p>
	<p>
		<i>
			Но вот беда – решив сократить дорогу, гонец забредает в переулок, где его уже дожидается банда Зелёных
			Криптоманов (даже не спрашивайте). Они отбирают у гонца записку, видят там какую-то ерунду и начинают	его
			допрашивать, но вскоре понимают, что он ничего не знает. И тут вожак банды соображает, что это не	просто
			бессмысленный набор букв, а зашифрованное послание, и начинает вспоминать, как когда-то давно, ещё до того как
			его выгнали из института, на лекциях по криптозащите он слышал про какой-то	метод...
		</i>
	</p>
	<p>
		На самом деле их даже два – <b>метод простого перебора</b> и <b>частотный анализ</b>. Первый метод
		попроще, требуется лишь только знать алфавит с символами шифртекста и позиции его букв. Для второго
		метода кроме этого понадобится знать частоту повторения букв алфавита в тексте, но его мы рассмотрим позднее.
	</p>
	<p>
		Под "<b>простым перебором</b>" здесь имеется ввиду банальный перебор всех возможных ключей
		шифрования. Например, для английского языка это 25 ключей, для русского – 32, и т.д. (за пояснениями идите в
		спойлер в прошлом разделе). Причём перебирать все варианты необязательно, ведь как только шифртекст после
		очередного сдвига	предстанет в осмысленном виде, то ключ был найден.
	</p>
	<p>
		<u>Пример:</u> Бандиты ловят гонца, отбирают у него записку с шифртекстом "Юячруб, ычя!", чешут в затылке, пока
		кто-то не	восклицает "Эврика! Да ведь это же шифр Цезаря!" и приступают к дешифрованию,	последовательно	сдвигая символы на 1 позицию влево:
	</p>
	<ol>
		<li>Эюцпта, ъцю!</li>
		<li>Ьэхося, щхэ!</li>
		<li>Ыьфнрю, шфь!</li>
		<li>Ъыумпэ, чуы!</li>
		<li>Щътлоь, цтъ!</li>
		<li>Шщскны, хсщ!</li>
		<li>Чшрймъ, фрш!</li>
		<li>Цчпилщ, упч!</li>
		<li>Хцозкш, тоц!</li>
		<li>Фхнжйч, снх!</li>
		<li>Уфмёиц, рмф!</li>
		<li>Тулезх, плу!</li>
		<li>Сткджф, окт!</li>
		<li>Рсйгёу, нйс!</li>
		<li>Привет, мир!</li>
	</ol>
	<p>
		Как только они получили осмысленный текст, то фиксируют номер итерации – это и будет значение ключа
		шифрования (для данного примера ключ равен 15). Все наши усилия по скрытию важной информации пошли
		прахом...
	</p>
	<p>
		Попробуйте самостоятельно вычислить ключ шифрования у следующего текста: "<a href="#" id="insertShifr"  class="insert-text-link">Ёылж о Ёжылц оёлыж зазоылц</a>" (кликабельно). Воспользуйтесь формой снизу, последовательно перебирайте ключи до тех пор, пока не получите	осмысленный текст.
	</p>
	<div class="textarea">
		<div class="textarea__col">
			<h3 class="textarea__header">Исходный шифртекст:</h3>
			<textarea
				id="textareaII_IN"
				class="textarea__control"
				rows="10"
				cols="20"
				placeholder="Введите шифртекст"
			></textarea>
		</div>
		<div class="textarea__key">
			<h3 class="textarea__header">Ключ:</h3>
			<input type="number" value="0" min="0" step="1" class="textarea__key-input" id="inputII_KEY">
			<div class="textarea__buttons">
				<button id="buttonII_minus" class="textarea__button">-</button>
				<button id="buttonII_plus" class="textarea__button">+</button>
			</div>
		</div>
		<div class="textarea__col">
			<h3 class="textarea__header">Расшифровка:</h3>
			<textarea
				id="textareaII_OUT"
				class="textarea__control"
				rows="10"
				cols="20"
				readonly
			></textarea>
		</div>
	</div>
	<p>
		<i>
			Вы может и не заметили, но отличие этой формы от той, что выше, заключается в том, что в первом	случае символы
			сдвигались <b>вправо</b> (что соответствует сложению со значением ключа), а во втором – <b>влево</b> (что соответствует вычитанию значения ключа).
		</i>
	</p>
	<p>
		Итак, мы добрались до самого интересного, а именно, <b>частотного анализа</b>. Тема эта очень
		обширная, и целиком рассматривать её здесь мы не будем, лишь ограничимся её применением для взлома
		шифра Цезаря. Наверняка вы замечали, что некоторые буквы в нашем алфавите повторяются в словах чаще
		других – например, гласные "а", "о", "и", "е" встречаются гораздо чаще, чем такая экзотика, как "ъ",
		"ц", "э". Про бедную-несчастную букву "ё" я вообще молчу, её старательно пытаются вывести из состава
		русского алфавита!</p>
	<p>
		Естественно, невозможно точно посчитать частоту появления той или иной буквы, ведь язык
		постоянно меняется, появляются новые слова, поэтому обычно берут средние значения, анализируя тексты
		очень большого объёма	(например, "Войну и мир", "Большую советскую энциклопедию", "Сборник анекдотов" за 1968 год и
		т.д.). Ниже в гистограмме приведена статистика частот появления букв русского языка.
	</p>
	<canvas id="chart1" class="chart"></canvas>
	<p> Числа по вертикальной оси означают вероятность появления того или иного	символа. То есть, если вы закроете
		глаза и ткнёте наугад в какую-нибудь букву в тексте, то именно с	этой вероятностью вы попадёте именно в неё. Вы
		спросите, да причём здесь вообще какие-то	вероятности? А очень даже причём – дело в том, что в сдвинутом алфавите
		вероятности появления букв...	также сдвигаются! Причём на то же самое значение ключа. А из этого, как мы покажем дальше, для больших текстов можно с большой точностью определить ключ, <b>просто посмотрев на распределение вероятностей</b>, не перебирая все возможные значения ключей.
	</p>
	<p>
		Проведём наглядную демонстрацию. В форму ниже введите произвольный текст (чем больше, чем лучше, в
		идеале сочините эссе, поэму, роман, записки сумасшедшего). На новой гистограмме будет в реальном времени
		отображаться подсчёт введённых букв, а точнее, частота их появления (красные столбики). Сравните полученные
		значения с теоретическими (зелёные столбики).
	</p>
	<div class="textarea">
		<div class="textarea__col">
			<h3 class="textarea__header">Ваш текст:</h3>
			<textarea
				id="textareaIII_IN"
				class="textarea__control"
				rows="10"
				cols="20"
				placeholder="В тридевятом царстве, в тридесятом государстве жил да был конь Анатолий..."
			></textarea>
		</div>
		<div class="textarea__key">
			<h3 class="textarea__header">Ключ:</h3>
			<input type="number" value="0" step="1" class="textarea__key-input" id="inputIII_KEY">
			<div class="textarea__buttons">
				<button id="buttonIII_minus" class="textarea__button">-</button>
				<button id="buttonIII_plus"  class="textarea__button">+</button>
			</div>
		</div>
		<div class="textarea__col">
			<h3 class="textarea__header">Шифртекст:</h3>
			<textarea
				id="textareaIII_OUT"
				class="textarea__control"
				rows="10"
				cols="20"
				readonly
			></textarea>
		</div>
	</div>
	<canvas id="chart2" class="chart"></canvas>
	<p>
		Если вы ввели недостаточно большой текст, который, к тому же, не пестрит разнообразием букв, то частотный анализ
		ничего не покажет. А теперь попробуйте вставить вот <a href="#" id="insertBigText" class="insert-text-link">
		этот</a> шифртекст (кликабельно) и последовательно уменьшать значение ключа (что означает вычитание его значения из
		позиции символа шифртекста). Видите? Вся ваша гистограмма смещается влево.
	</p>
	<p>
		А теперь, внимание, самое интересное - как по этой гистограмме определить значение ключа? Да очень просто -
		продолжайте сдвигать её до тех пор, пока <b>частота самой часто встречающейся буквы вашего текста не будет
		примерно равна частоте самой часто встречающейся буквы алфавита, на котором написано сообщение</b>, а
		величина ключа будет находиться как <b>разность позиций этих букв</b>. Для данного примера, между "ё" и "я"
		расстояние равно 7,	значит ключ будет равен 7.
	</p>
	<p>
		Теперь я думаю, вы догадываетесь, почему этот метод не пригоден для расшифровки небольших	шифртекстов, где
		статистика появления букв весьма отличается от "теоретической". В таких случаях нередко бывает, что	наиболее
		часто встречающаяся буква не совпадает с теоретической (например, если вы по каким-то причинам боитесь буквы "о"
		и избегаете её использование в своей речи и письме), и тогда частотный	анализ даст ошибку, хотя по сути вы всё
		делали правильно. В таких случаях считается, что метод шифрования Цезаря обладает более сильной <b>криптографической стойкостью</b>, нежели чем при	шифровании больших текстов.
	</p>
	<p>
		Подведём итоги. Хоть метод шифрования Цезаря и является тривиальным по современным меркам и легко	расшифровывается, он по-прежнему может использоваться для передачи коротких сообщений. К нему можно	применить частотный анализ, но только в том случае, если им зашифрован большой объём текста. Тем не	менее, метод до сих пор актуален, и его зачастую включают в состав более сложных алгоритмов	шифрования, чтобы окончательно запутать	перехватчика информации.
	</p>
	<p>
		Надеюсь, информация была вам интересна, и это лишь крошечная часть того, с чем приходится иметь дело тайным
		агентам, супершпионам и контрразведчикам. А теперь вернитесь к цитате и с помощью второй формы попробуйте дешифровать её.	Частотный анализ здесь не поможет, ведь текст очень короткий, поэтому придётся вам перебрать некоторое значение
		ключей...
	</p>
</section>
