<section class="main__section" id="Intro">
	<h2 class="main__section-header">Введение</h2>
	<p>
		Жил да был в Древнем Риме наш герой, Гай Юлий Цезарь – да, да, тот самый, который выиграл в
		гражданской войне и стал императором, мог делать сразу несколько дел одновременно и сражался с
		Астериксом и Обеликсом. Что, что? Да, ещё салат есть такой (к которому наш Цезарь, между прочим,
		не имеет ни малейшего отношения). В те времена Цезарь наделал много шуму, и не был бы он так
		успешен, если бы не его харизма и необычайно острый ум – чего стоят одни его цитаты. Вот, поглядите.
	</p>
	<blockquote class="main__section-blockquote">
		<p class="main__section-blockquote-text">Жзапэг, кщаыьг, жёшьыаг.</p>
		<cite class="main__section-blockquote-author">— Ъчб Хгаб Ньячзу</cite>
	</blockquote>
	<p>
		Эту известную цитату вы наверняка слышали не один раз... Постойте, куда же вы, не уходите, это правда
		его цитата, просто она <b>зашифрована</b>, и на первый взгляд кажется, что это бессмысленный набор
		букв. Но вы удивитесь, насколько просто можно её <b>расшифровать</b> – достаточно лишь знать
		<b>алгоритм шифрования</b>.
	</p>
	<p>
		Видимо, нужно сделать небольшое отступление для тех, кто "не в теме" и вообще никогда не слышал про
		<b>криптографию, шифртексты, ключи</b> и другие странные словечки. Информация всегда была важнейшим
		фактором на протяжении всей истории человечества, например, узнав численность вражеского войска, и
		где размещены его отряды, опытный полководец без труда сможет придумать тактику и разбить армию
		врага. Или, например, вам по секрету сказали, что через несколько дней начнётся распродажа бытовой
		техники с большими скидками, и вы теперь стали носителем сокровенной тайны и радуетесь, что
		окажетесь в числе немногих счастливчиков, кто урвёт себе дешёвую стиралку. С древних времён
		повелось посылать гонцов из одного места в другое, чтобы передать эту важную информацию.
		Время шло, гонцы уже давно отправлены на свалку истории, ведь появился интернет и протоколы передачи
		информации, но на самом деле
		<b>перехватить информацию</b> всё так же просто.
	</p>
	<p>
		И с тех же древних времён люди задумались, а как бы эту информацию передать так, чтобы "свои" смогли
		её прочесть и купить пару биткойнов по выгодной цене, а "чужие", даже если перехватят гонца, увидят
		вместо сообщения непонятную мешанину и, покрутив пальцем у виска, отпустят гонца вместе с этой
		ерундой (конечно, гонцу категорически нельзя сообщать, что содержится в сообщении и как взломать
		шифр). Удобно, согласитесь? Вот так и возникли <b>криптография</b> и <b>криптоанализ</b> – науки о
		том, как скрыть то, что
		открыто, и открыть то, что скрыто.
	</p>
	<p>
		Так вот, возвращаясь к нашему герою - Цезарь, как мы уже знаем, был не дурак и наиболее ценные
		сведения, например, о положении вражеских войск, пересылал своим генералам именно в зашифрованном
		виде при помощи особого <b>шифра</b>. И хотя в дальнейшем мы покажем, что этот шифр взломать сейчас
		может даже ребёнок, но в те
		времена люди (по большей части) понятия не имели о каких-то там шифрах. Ещё помните о цитате?
		По-прежнему никаких идей? Так давайте же рассмотрим метод,
		который вошёл в историю под названием <b>метода шифрования Цезаря</b>, яркого представителя шифра
		простой
		замены.
	</p>
</section>
