@fz-desktop: 16px;

@white-shadow: #e8e8e8;

@smartphones: ~"(min-width: 320px)";
@smartphones-plus: ~"(min-width: 641px)";
@tablets: ~"(min-width: 961px)";
@tablets-lus: ~"(min-width: 1025px)";
@desktops: ~"(min-width: 1281px)";
