<header class="caesar-header">
	<nav class="caesar-header__nav">
		<div class="caesar-header__logo">
			<a class="caesar-header__logo-link" href="/">
				<img class="caesar-header__logo-img" src="assets/images/caesar.ico">
			</a>
			<h1 class="caesar-header__title">Метод шифрования Цезаря</h1>
		</div>
		<ul class="caesar-header__menu">
			<li class="caesar-header__menu-item"><a href="#partI" class="caesar-header__menu-link">Введение</a></li>
			<li class="caesar-header__menu-item"><a href="#partII" class="caesar-header__menu-link">Суть метода</a></li>
			<li class="caesar-header__menu-item"><a href="#partIII" class="caesar-header__menu-link">Взлом</a></li>
			<li class="caesar-header__menu-item"><a href="#partIV" class="caesar-header__menu-link">Шифртексты</a></li>
		</ul>
		<div class="caesar-header__menu-burger">
			<span class="caesar-header__menu-burger-part"></span>
			<span class="caesar-header__menu-burger-part"></span>
			<span class="caesar-header__menu-burger-part"></span>
		</div>
	</nav>
	<div class="caesar-header__image"></div>
</header>
